@media (max-width: 1300px) {
  .treatment_section .side_img {
    opacity: 0.2;
  }
}

@media (max-width: 1120px) {}

@media (max-width: 992px) {
  .hero_area {
    height: auto;
  }

  .header_section {
    margin-top: 0;
  }

  .header_section .header_top .contact_nav {
    justify-content: space-between;
  }

  .quote_btn-container {
    flex-direction: column;
    align-items: center;
  }

  .quote_btn-container a {
    margin-right: 0;
    margin-top: 10px;
  }

  .slider_section {
    padding: 75px 0 125px 0;
  }


  .client_section .box {
    margin: 15px;
  }

  .client_section .carousel_btn-box {
    display: flex;
    justify-content: center;
    margin-top: 45px;
  }

  .client_section .carousel-control-prev,
  .client_section .carousel-control-next {
    position: unset;
    margin: 0 2.5px;
    width: 45px;
    height: 45px;
  }

  .info_section .info_main_row>div {
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .about_section .detail-box {
    margin-top: 45px;
  }

  .slider_section .dot_design {
    opacity: 0.4;
  }

  .team_section .team_carousel {
    padding: 0;
  }

  .team_section .team_carousel .owl-nav {
    margin-top: 45px;
  }

  .team_section .team_carousel .owl-nav button {
    position: unset;
    transform: none;
  }

  .contact_section .form_container {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .info_section .info_main_row>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .info_section .info_main_row>div:nth-last-child(1) {
    margin-bottom: 0;
  }

  .info_section .info_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info_section .social_box {
    justify-content: center;
  }

  .info_section .info_post {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info_section .info_post .post_box {
    flex-direction: column;
    align-items: center;
  }

  .info_section .info_post .post_box .img-box {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .header_section .header_top .contact_nav a {
    margin-right: 0;
  }

  .header_section .header_top .contact_nav a span {
    display: none;
  }

  .header_section .header_top .contact_nav a i {
    font-size: 28px;
    margin: 0;
  }

  .treatment_section .side_img {
    display: none;
  }

  .info_section .info_top {
    flex-direction: column;
  }

  .info_section .info_top .info_logo {
    margin-right: 0;
    margin-bottom: 25px;
  }
}

@media (max-width: 480px) {}

@media (max-width: 420px) {}

@media (max-width: 376px) {
  .slider_section .detail_box h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/*successful_appointment სექციის რესპონსიული სტილები */

@media (max-width: 768px) {
  .background {
    padding: 30px 0;
  }

  .letter {
    max-width: 90%;
    padding: 20px;
  }

  .appointment-logo img {
    width: 60px;
    margin: 20px 0 40px;
  }

  .book-title h1 {
    font-size: 24px;
    margin-bottom: 50px;
    text-align: center;
  }

  .letter-text h5,
  .letter-text p {
    font-size: 16px;
    margin: 0 20px 30px;
    line-height: 30px;
  }

  .mico,
  .hospital {
    font-size: 18px;
  }

  .letter-details ul li {
    margin-bottom: 20px;
  }

  h6 {
    font-size: 18px;
  }
  .appointment-button {
    width: 90px;
    height: 45px;
    margin-bottom: 30px;
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .letter-text h5,
  .letter-text p {
    font-size: 14px;
  }

  .mico,
  .hospital {
    font-size: 14px;
  }

  .letter-details ul li {
    margin: 0;
  }

  .letter-details ul {
    padding: 0 0 0 15px;
  }

  h6 {
    font-size: 18px;
  }
  .appointment-button {
    width: 70px;
    height: 40px;
    margin-bottom: 30px;
    font-size: 15px;
  }
}

@media (max-width: 360px) {
  .background {
    padding: 20px 0;
  }

  .letter {
    max-width: 100%;
    padding: 15px;
  }

  .appointment-logo img {
    width: 50px;
    margin: 15px 0 30px;
  }

  .book-title h1 {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .letter-text h5,
  .letter-text p {
    font-size: 14px;
    margin: 0 10px 20px;
    line-height: 25px;
  }

  .mico,
  .hospital {
    font-size: 14px;
  }

  .letter-details ul li {
    margin-bottom: 15px;
  }

  .letter-details ul {
    padding: 0 0 0 10px;
  }

  h6 {
    font-size: 16px;
  }
  .appointment-button {
    width: 65px;
    height: 35px;
    margin-bottom: 15px;
    font-size: 13px;
  }
}
/*successful_appointment სექციის რესპონსიული სტილების დასასრული*/
